.main {
  max-width: 330px;
  margin: 0 auto;
  position: relative;

  .places-list {
    padding: 90px 0 20px;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(12,minmax(0,1fr));
  }

  .places-actions {
    display: flex;
    justify-content: center;
  }

  button {
    min-width: 150px;
    background-color: #10b981;

    &:focus,
    &:hover {
      background-color: #10b981;
    }
  }

  .alert {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
  }
}
